/*Estils */
:root {
    --primary-color: #081226;    
    --secondary-color: #F2F2F2;
    --color-fons: hwb(236 15% 46% / 0.982);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body {    
    color: var(--primary-color);
    line-height: 1.5;
    font-family: "Fira Sans", sans-serif; 
}

/****************************
Contenidors del lloc
*****************************/
header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--primary-color);    
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;    
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 1140px;
}

/****************************
Página d'inici
*****************************/
body.home {    
    background-color: var(--primary-color); 
    background-image: url(../img/bg-home.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: var(--primary-color);
    min-height: 100vh;
    margin:0;
    padding:0
}

.bg-container {
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: right top;
    min-height: 300px;
}

body.home header {
    background-color: transparent;
    height: 10vh;    
}

body.home main {
    padding-top: 10vh;
    height: 70vh;
}

body.home footer {
    background-color: transparent;
    height: 30vh;
}


body.home h1 {    
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

body.home h1 span {
    display: block;
    font-weight: 400;
}

body.home main p {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 15px;
}

footer {
    font-size: 0.8rem;
    color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/****************************
Menu
*****************************/

nav li, a {
   text-decoration: none; 
   list-style: none;
}

#menu {
    display: none;
}

.navbar {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.icono {    
    background-color: transparent;
    width: 100px;
}

header label {    
    display: none;
    width: 20px;
    height: 40px;
    padding: 0px;
    background-color: transparent;        
}

header {
    margin-bottom: 100px;
}

header label {    
    cursor: pointer;
    background-color: transparent;     
}

.navbar ul {
    margin : 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar li:hover {
    background-color: var(--color-fons);        
    border-radius: 20px;
}

.navbar li a img:hover {
    background-color: #e96908;
}

.navbar li a {
   display: block; 
   padding: 15px;
   color: var(--primary-color);
   font-weight: 700;
}

.navbar li a:hover {    
    color: var(--secondary-color);    
}

@media(max-width:991px) {
    .icono {
        margin-top: -100px;
        margin-left: 8px;
        position:absolute;
        display:nones ;
    }

    header label {        
        display: block;        
    }

    .navbar {        
        position: absolute;
        background-color: var(--primary-color);         
        margin-left: -100%;
        padding: 5px;
        transition: all 0.5s;                
    }

    .navbar li a {
       color : var(--secondary-color);
    }

    .navbar li a:hover {
        background-color: var(--color-fons);          
        border-radius: 20px;
    }

    .navbar ul {     
        margin-top:100px;   
        flex-direction: column;
    }

    #menu:checked ~ .navbar {
        margin: 0;
    }
}

/****************************
Resolucions
*****************************/
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }

}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }

}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }

}


/****************************
Categories
*****************************/

.d-none {
    display: none;
    visibility: hidden;
}

.center {    
    text-align: center;
    padding : 10px;
}

p {
    text-align: justify;
    padding: 10px;
}

b {
    padding-left: 10px;
}
.menu_categories {
    display:flex;
    flex-direction: row;            
    padding:10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: var(--color-fons); 
    border-radius: 20px;    
    justify-content: center;
}

.boto_categories {
    padding:10px;
    background-color: var(--secondary-color); 
    border-radius: 20px;    
    font-size: 18px;    
    margin-left: 15px;    
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 150px;
}

.boto_categories:hover {
    background: linear-gradient(to bottom, #bada55, #c0ffee);
}

.foto {
    padding: 10px;
}

/****************************
Resolucions
*****************************/
@media (max-width: 600px) {
    .foto {
        width: 80vw; /* Cambia el ancho al 80% en móviles */
    }
}

@media (min-width: 601px) {
    .foto {
        width: 50vw; /* Cambia el ancho al 50% en pantallas más grandes */
    }
}
  
@media (max-width: 1000px) {
    .menu_categories {
        flex-direction: column;              
    }

    .boto_categories {
        margin-top : 10px;        
    }        

}
  
/****************************
Festes
*****************************/

h2 {
    color: #033b0d;
    padding:10px;
}

span {
    padding-left: 10px;
}

.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .iframe-container {
        padding-bottom: 75%;
    }
}

/****************************
Presentacions
*****************************/

.foto-galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.fotografia {
    flex: 1 1 calc(20% - 10px);    
    padding: 10px;
}

.fotografia img {
    width: 100%;
    height: auto;
    display: block;
}

.articles {
    text-align: justify;
}

@media (max-width: 768px) {
    .fotografia {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .fotografia {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/****************************
Presentacions
*****************************/

.listas {
    list-style-type: upper-roman; 
    font-size: 2em; 
    padding-left: 40px; 
}

.listas li {
    margin-bottom: 10px;
}