/*Estils */
:root {
    --primary-color: #081226;    
    --secondary-color: #F2F2F2;
    --bg-dark-color: #1B2459;     
    --menu-color: rgba(245, 245, 13, 0.759);
    --color-fons: hwb(236 15% 46% / 0.982);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body {    
    color: var(--primary-color);
    line-height: 1.5;
    font-family: "Fira Sans", sans-serif; 
}

/****************************
Contenidors del lloc
*****************************/
header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--primary-color);    
}


main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    max-width: 1140px;
}

/****************************
Página d'inici
*****************************/
body.home {    
    background-color: var(--primary-color); 
    background-image: url(../img/bg-home.webp);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: var(--primary-color);
    min-height: 100vh;
    margin:0;
    padding:0
}

.bg-container {               
    text-align: center;
    text-align: center
}

.clip-animation { 
    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%)}
  
  .clip-animation { 
    animation: clip 1s infinite
  }
  
  @keyframes clip {
    0% {
      clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    }
    50% {
      clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
    }
     100% {
      clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
    }
  }

body.home header {
    background-color: transparent;
    height: 10vh;    
}

body.home main {
    padding-top: 10vh;
    height: 70vh;
}

body.home footer {
    background-color: transparent;
    height: 30vh;
}


body.home h1 {    
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
}

body.home h1 span {
    display: block;
    font-weight: 400;
}

body.home main p {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/****************************
Menu
*****************************/

nav li, a {
   text-decoration: none; 
   list-style: none;
}

#menu {
    display: none;
}

.navbar {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.icono {    
    background-color: transparent;
    width: 151px;
}

header label {    
    display: none;
    width: 20px;
    height: 40px;
    padding: 0px;
    background-color: transparent;        
}

header {
    margin-bottom: 100px;
}

header label {    
    cursor: pointer;
    background-color: transparent;     
}

.navbar ul {
    margin : 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar li:hover {
    background-color: var(--color-fons);        
    border-radius: 20px;
}

.navbar li a img:hover {
    background-color: #e96908;
}

.navbar li a {
   display: block; 
   padding: 15px;
   color: var(--primary-color);
   font-weight: 700;
}

.navbar li a:hover {    
    color: var(--secondary-color);    
}

/*** 
   footer 
**/

footer {
    font-size: 0.8rem;      
    color: var(--bg-dark-color);  
}

footer p {
    font-size: inherit;    
}

footer a {
    color: inherit;
    border: none;
}

footer a:hover {
    border: none;
    color: var(--menu-color);
}

footer ul {
    list-style-type: none;
    padding-left: 10px;
}

footer ul li {
    display: inline-block;
    font-size: 0.7rem;
    padding-right: 0.25rem;
}

footer ul li::after {
    content: "·";
    padding-left: 0.5rem;
}

footer ul li:last-child::after {
    content: "";
    padding-left: 0.5rem;
}

@media(max-width:991px) {
    .icono {
        margin-top: -100px;
        margin-left: 8px;
        position:absolute;
        display:nones ;
    }

    header label {        
        display: block;        
    }

    .navbar {        
        position: absolute;
        background-color: var(--primary-color);         
        margin-left: -100%;
        padding: 5px;
        transition: all 0.5s;      
        z-index: 1;          
    }

    .navbar li a {
       color : var(--secondary-color);
    }

    .navbar li a:hover {
        background-color: var(--color-fons);          
        border-radius: 20px;
    }

    .navbar ul {     
        margin-top:100px;   
        flex-direction: column;
    }

    #menu:checked ~ .navbar {
        margin: 0;
    }

}

/****************************
Resolucions
*****************************/
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }

}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }

}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}


/****************************
Categories
*****************************/

.d-none {
    display: none;
    visibility: hidden;
}

.center {    
    text-align: center;
    padding : 10px;
}

p {
    text-align: justify;
    padding: 10px;
}

b {
    padding-left: 10px;
}

.menu_categories {
    display:flex;
    flex-direction: row;            
    padding:10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: var(--color-fons); 
    border-radius: 20px;    
    justify-content: center;
}

.boto_categories {
    padding:10px;
    background-color: var(--secondary-color); 
    border-radius: 20px;    
    font-size: 18px;    
    margin-left: 15px;    
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 150px;
}

.boto_categories:hover {
    background: linear-gradient(to bottom, #bada55, #c0ffee);
}

.foto {
    padding: 10px;
}

/****************************
Resolucions
*****************************/
@media (max-width: 600px) {
    .foto {
        width: 80vw; /* Cambia el ancho al 80% en móviles */
    }
}

@media (min-width: 601px) {
    .foto {
        width: 50vw; /* Cambia el ancho al 50% en pantallas más grandes */
    }
}
  
@media (max-width: 1000px) {
    .menu_categories {
        flex-direction: column;              
        align-items: center;
        text-align: center;
    }

    .boto_categories {
        margin-top : 10px;                
    }        

}
  
/****************************
Festes
*****************************/

h2 {
    color: #033b0d;
    padding:10px;
}

span {
    padding-left: 10px;
}

.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .iframe-container {
        padding-bottom: 75%;
    }
}

/****************************
Presentacions
*****************************/

.foto-galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.fotografia {
    flex: 1 1 calc(20% - 10px);    
    padding: 10px;
}

.fotografia img {
    display: block;
}

.articles {
    text-align: justify;
}

@media (max-width: 768px) {
    .fotografia {                      
        flex: 1 1 calc(70% - 10px);
        flex-direction: column;
        gap: 10px;
        max-width: calc(60% - 10px);
    }

    .foto-galeria {
        flex-direction: column; 
        align-items: center;                                
        margin-bottom: 20px;
    }
    
}

@media (max-width: 480px) {
    .fotografia {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/****************************
Presentacions
*****************************/

.listas {
    list-style-type: upper-roman; 
    font-size: 2em; 
    padding-left: 40px; 
}

.listas li {
    margin-bottom: 10px;
}

.ruta {
    position: relative; 
    animation: moveBus 5s linear infinite;    
}

@keyframes moveBus { 
    0% { transform: translateX(-200px); } 
    100% { transform: translateX(100vw); } 
} 

.wheel { 
    animation: rotateWheel 1s linear infinite; 
}

@keyframes rotateWheel { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}

.imagen { 
    transition: transform 0.5s ease; 
} 

.imagen.grande { 
    transform: scale(3);
}
