/*Estils per categories */

.d-none {
    display: none;
    visibility: hidden;
}

.center {    
    text-align: center;
}

.menu_categories {
    display:flex;
    flex-direction: row;            
    padding:10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: var(--color-fons); 
    border-radius: 20px;    
    justify-content: center;
}

.boto_categories {
    padding:10px;
    background-color: var(--secondary-color); 
    border-radius: 20px;    
    font-size: 18px;    
    margin-left: 15px;    
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 150px;
}

.boto_categories:hover {
    background: linear-gradient(to bottom, #bada55, #c0ffee);
}

.foto {
    padding: 10px;
}

/****************************
Resolucions
*****************************/
@media (max-width: 600px) {
    .foto {
        width: 80vw; /* Cambia el ancho al 80% en móviles */
    }
}

@media (min-width: 601px) {
    .foto {
        width: 50vw; /* Cambia el ancho al 50% en pantallas más grandes */
    }
}
  
@media (max-width: 1000px) {
    .menu_categories {
        flex-direction: column;        
    }

    .boto_categories {
        margin-top : 10px;
    }
}
  
  